*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;

}



/* #content{
    color: aliceblue;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}  */

#content{
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}  

p{
    color: black;
}
p:hover{
    color: white;
    backdrop-filter: blur(50px);
}


.heading{
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    filter: drop-shadow(5px 5px 10px black);
}

.author{
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 1000px;
    padding-bottom: 10px;
    filter: drop-shadow(5px 5px 10px black);
}

.one_para{
    background-image: url('./img/ti.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #fdf4ed;
}
#story{
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('./img/inside\ home.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

#story img{
    position: absolute;
    pointer-events: none;
}

#family{
    margin-left: 1175px;
}

#two_para{
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('./img/house.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

#two_para img{
    position: absolute;
    pointer-events: none;
}

#three_para{
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url('./img/flying\ house.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

#three_para img{
    position: absolute;
}

#dog{
    margin-left: 1200px;
}

#scared{
    justify-content: top;
}
#sleep{
    position: relative;
    background: black;
    height: 100vh;
    display: flex;
}
#sleep img{
    position: absolute;
    pointer-events: none;
}
#sleep{
    margin-top: 100px;
    padding-left: 100px;
}

.end{
    color: #fdf4ed;
    text-align: center;
    padding-left: 400px;
    padding-right: 350px;
    margin-top: 620px;
    font-weight: bold;
    font-size: 80px;
    
}

